.page-category{
  width: 100%;
  .pattern{
    &-cat-header{
      &::before{
        display: none;
      }
    }
  }
  .type-one-cat{
    .container-fluid{
      max-width: 100%;
      padding: 0;
      .row{
        .col-sm-12:first-of-type{
          display: none;
        }
      }
    }
  }
}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
}
h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 2.3rem;
  font-weight: 800;
}
.cat-header{
  background-size: cover;
  background-position: center;
  position: relative;
  &::before{
    content: "";
    opacity: 0.25;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-block{
    position: relative;
    padding: 100px 80px 100px;
    color: #fff;
    background-color: rgba($dark, .8);
    z-index: 1;
    &::before{
      content: "";
      opacity: 0.2;
      transition: opacity .25s ease, top .25s ease, left .25s ease, right .25s ease, button .25s ease;
      z-index: 1;
      position: absolute;
      border: 1px solid rgba(#fff, .99);
      top: 10px;
      right: 10px;
      left: 10px;
      bottom: 10px;
    }
    p, h1, h2{
      margin: 0;
    }
    h1, h2{
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }
}
.cat-list-first{
  padding-top: $gutter;
  background-color: #f5f5f5;
}
.type-one-cat{
  background-color: transparent;
  padding: 0;
}
.cat-list{
  padding-top: $gutter;
  background-color: #fff;
}
a.cat-list-item{
  color: $textcolor;
  display: block;
  text-decoration: none;
  margin-bottom: $gutter/1.5;
  margin-top: $gutter/1.5;
  padding-bottom: 4px;
  border-bottom: 1px solid #dfdfdf;
  h2, h3{
    transition: color .25s ease;
    line-height: 1.2;
    font-size: 2.1rem;
    font-weight: 800;
    margin: 0;
  }
  img{
    transition: opacity .25s ease;
    margin-bottom: 12px;
  }
  p{
    font-size: 1.54rem;
    margin-top: 10px;
  }
  .date{
    margin-top: 5px;
  }
  &:hover{
    .pattern{
      &::before{
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        opacity: 0.2;
        z-index: 2;
      }
      img{
        //opacity: 0.75;
      }
    }
    h2, h3{
      text-decoration: underline;
      color: $accent;
    }
    p{
      color: $textcolor;
    }
  }
  &:last-child{
    border-bottom: 0;
  }
}
.main-aside{
  margin-bottom: $gutter;
}



