.text-center{
  text-align: center;
  margin: 0 auto;
}
.ad {
  text-align: center;
  width: 100%;
  display: block;
  overflow: hidden;
}

.top__ad {
  padding-bottom: $gutter;
}

.container-fluid {
  max-width: 1346px;
  padding: 0 $gutter;
}

section {
  background-color: #fafafa;
  padding: $gutter 0;

  h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 2.3rem;
    font-weight: 800;
  }
}

.item-title {
  min-height: 340px;

  &-content {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 40px;
    z-index: 1;

    h3 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 800;
      line-height: 1.25;
      font-size: 1.9rem;

      a {
        &:hover {
          text-decoration: underline
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }

  }
}

.pattern {
  background-color: $dark;
  position: relative;
  display: block;

  &::before {
    content: "";
    transition: opacity .25s ease, top .25s ease, left .25s ease, bottom .25s ease, right .25s ease;
    z-index: 1;
    position: absolute;
    border: #fff solid 1px;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
  }

  &:hover {
    &::before {
      content: "";
      opacity: .2;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
  }
}

.overlay {
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;

  &::before {
    content: '';
    background-color: $dark;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .55;
    transition: opacity .25s ease;
    z-index: 1;
  }

  &:hover {
    &::before {
      opacity: 0.75;
    }
  }
}

.item-social {
  margin-top: 10px;

  .fa {
    font-size: 1.2rem;
    margin-right: 5px;
  }
}

.item-comments {
  display: inline-block;
  margin-right: 20px;

  &-count {
    font-size: 1.2rem;
    display: inline-block;
    position: relative;

    &::after {
      content: '\2022';
      position: absolute;
      font-size: 2rem;
      top: -5px;
      bottom: 0;
      margin-left: 10px;
      margin-right: 10px;
      opacity: .25;
    }
  }
}

.likely-custom {
  display: inline-block;
  font-size: 1.2rem;

  .likely__button {
    padding-left: 15px;
  }

  > div {
    padding: 0 4px 0 3px;
    position: relative;
    cursor: pointer;
    margin: 6px 2px 0;
    border: 1px solid #fff;
    border-radius: 2px;
  }

  .likely__counter {
    display: none;
  }

  svg {
    width: 11px;
    height: auto;
    position: absolute;
    top: 3.5px;
    left: 4px;

    path {
      fill: #fff;
    }
  }

  > * {
    display: inline-block;
  }
}

// --- second-section ---
.second-section {
  padding: $gutter/2 0;
}

.news-wrap {
  padding-bottom: $gutter/2;

  .pattern {
    &::before {
      display: none;
    }
  }
}

.overlay {
  &::before {
    opacity: .4;
  }
}

.item-news {
  min-height: 280px;
  margin: $gutter/2 0;
  color: $textcolor;

  &:hover {
    h3 {
      text-decoration: underline;
    }
  }

  &-content {
    border-left: #dfdfdf 1px solid;
    border-bottom: #dfdfdf 1px solid;
    background-color: #fff;
    padding: $gutter;
    position: absolute;
    bottom: 0;
    width: 80%;
    z-index: 1;

    h3 {
      font-size: 1.7rem;
      line-height: 1.2;
      margin: 0;
    }
  }
}

.date {
  font-size: 1.3rem;
  color: $accent;
  font-family: baron-g, sans-serif;
  font-weight: bold;
}

.aside-box {
  margin-bottom: $gutter;
  text-align: center;

  .img-responsive {
    display: inline-block;
  }
}

// --- third-section ---
.dark-section {
  padding: 30px 0;
  background-color: $dark;

  h2 {
    a {
      color: #fff;
    }
  }
}

.col-item {
  margin: 12px 0 15px;

  a {
    text-decoration: none;
    transition: color .25s ease;

    &:hover, &.hover {
      text-decoration: underline;
    }
  }

  .item-comments {
    margin-top: 2px;

    .fa, .item-comments-count {
      color: #49505a;
    }

    .fa {
      font-size: 1.2rem;
      margin-left: 20px;
      margin-right: 5px;
    }

    .item-comments-count {
      &::after {
        left: -45px;
        color: #49505a;
        opacity: 1;
      }

      &:hover {
        color: #49505a;
      }
    }
  }

  .date {
    display: inline-block;
    margin-top: 0;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    line-height: 1.35;
  }

  .col-item-meta {
    margin-bottom: 8px;
    margin-top: 6px;
  }

  &.col-item-dark {
    a {
      color: #a4a7ab;

      &:hover, &.hover {
        color: #fff;
      }
    }
  }
}

// --- fourth-section ---
.fourth-section {
  background-color: #f5f5f5;
  padding-top: 30px;

  &-header {
    margin-bottom: 10px;
  }

  .item-title {
    min-height: 300px;

  }

  .date {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
  }
  .item-social{
    margin-top: 1px;
  }
  .img-responsive{
    width: auto;
    height: auto;
  }
}
//--- type-one ---
.type-one{
  &-header{
    margin-bottom: $gutter/2;
  }
  &-first{
    //>div a{
    //  display: block;
    //  background-color: $dark;
    //}
    .img-width{
      width: 100%;
    }
    .item-social{
      margin-top: 8px;
      a, .item-comments, .date{
        color: #a0a0a0;
        font-size: 1.3rem;
      }
      .item-comments-count{
        font-size: 1.2rem;
      }
      .date{
        display: inline-block;
        margin-left: 20px;
      }
    }
    h3{
      font-size: 2.2rem;
      font-weight: 800;
      text-transform: uppercase;
      margin-top: 8px;
      line-height: 1.2;
      margin-bottom: 30px;
      a{
        color: $textcolor;
        display: block;
        transition: color .25s ease;
        &:hover{
          color: $accent;
        }
      }
    }
  }
}
// --- type-one ---
.type-one{
  .item-title-white{
    .date{
      font-size: 1.3rem;
      display: inline-block;
      margin-left: 20px;
      color: #fff;
    }
    .item-comments-count{
      font-size: 1.2rem;
    }
    .item-social{
      margin-top: 0;
    }
    .item-title{
      min-height: 250px;
      &-content{
        padding: 40px 40px 25px;
      }
    }
  }
  .pattern{
    margin-bottom: $gutter;
  }
}
.button{
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: 12px 40px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10em;
  text-align: center;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color .1s ease;
  &:hover, &:focus{
    text-decoration: none;
    color: #fff;
  }
  &:hover{
    background-color: lighten($accent, 5%);
  }
  &:active{
    background-color: darken($accent, 5%);
  }
}
.s-more{
  padding: $gutter*2 0;
  background-color: #f5f5f5;
}
.main-footer{
  background-color: $dark-blue;
  padding: 25px 0;
  border-bottom: 1px solid rgba(#fff, .1);
}
.bottom-footer{
  background-color: $dark-blue;
  padding: 25px 0 35px;
  .logo-footer{
    display: inline-block;
  }
  p{
    color: rgba(#fff, .2);
    font-size: 1.2rem;
    margin: 5px;
  }
  .footer-copy{
    color: rgba(#fff, .45);
    font-size: 1.3rem;
    font-family: baron-g, sans-serif;
  }
}
.footer-menu{
  li{
    &.active{
      text-decoration: underline;
      background: none;
      a{
        background: none;
      }
    }
    a{
      font-size: 1.5rem;
      padding: 0 10px;
      &:hover{
        text-decoration: underline;
        background: none;
      }
    }
  }
}
nav.soc{
  padding: 15px 0 20px;
  ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  li{
    display: inline-block;
    a{
      display: block;
      text-align: center;
      border: 1px solid rgba(#fff, .1);
      border-radius: 10em;
      width: 52px;
      height: 52px;
      line-height: 50px;
      color: #fff;
      font-size: 2.4rem;
      margin: 4px;
      transition: border-color .25s ease, opacity .25s ease;
      .fa{
        transition: opacity .25s ease;
        opacity: 0.75;
      }
      &:hover{
        border-color: rgba(#fff, .35);
        .fa{
          opacity: 1;
        }
      }
    }

  }
}
.logo-footer{
  span{
    color: $accent;
  }
}