.page-article {
  .page-header.overlay {
    &::before {
      opacity: 1;
      background-color: transparent;
      background-image: linear-gradient(rgba(#000000, .2), rgba(#000000, .7));
      z-index: 0;
    }

    height: 80vh;
    min-height: 460px;
    color: #fff;
    position: relative;
  }

}
.page{
  .top-line-page-article {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
}

.page-header {
  &-content {
    position: absolute;
    width: 100%;
    bottom: 15%;
  }
  &-meta{
    > * {
      display: inline-block;
    }
    .date{
      color: #fff;
      font-size: 1.5rem;
    }
    h1{
      font-size: 3.2rem;
      line-height: 1.2;
      margin: 15px 0;
      display: block;
    }
    .item-comments-count{
      color: #fff;
    }
  }
  &-content{
    bottom: 10%;
  }
}
.page-category-link{
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  background-color: $accent;
  padding: 1px 6px;
  text-decoration: none;
  font-weight: 800;
  margin-right: 5px;
  &:hover, &:focus{
    color: #fff;
    text-decoration: none;
  }
}

.article-content{
  padding: $gutter*1.8 0;
  background-color: #fff;
}
.article-top-add{
  margin: $gutter 0;
}
.breadcrumbs{
  margin-bottom: 15px;
  margin-left: -10px;
  ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li{
    display: inline-block;
    font-size: 1.6rem;
  }
  a{
    display: inline-block;
    padding: 0 10px;
    position: relative;
    &::after {
      content: "\00BB";
      position: absolute;
      right: -6px;
      color: #ccc;
    }
  }
  .active{
    padding-left: 10px;
    color: #888888;
  }
}
.article-body{
  p{
    margin: 25px 0;
    line-height: 1.6;
  }
  img{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
  }
  h2, h3, h4, h5, h6{
    line-height: 1.2;
  }
  blockquote{
    padding: $gutter;
    margin: $gutter*2 $gutter*2.5;
    font-size: 2rem;
    color: #000000;
    border-top: 2px solid $accent;
    border-bottom: 2px solid $accent;
  }
  ul, ol{
    padding-left: $gutter;
  }
  li{
    margin: 10px 0;
  }
  .video{
    margin: $gutter 0;
  }
}
.video{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe{
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

