.top-line {
  background-color: $dark;
  position: relative;
  height: 65px;
  width: 100%;
  a.logo{
    font-family: baron-g, sans-serif;
    color: #fff;
    font-size: 2.3rem;
    display: inline-block;
    text-decoration: none;
    position:absolute;
    padding-left: 30px;
    left: 0;
    line-height: 65px;
    &:hover, &:focus{
      text-decoration: none;
      color: #fff;
    }
  }
  a.logo-litera {
    span{
      color: $accent;
    }
  }
  .search-wrap {

    .search {
      position: absolute;
      padding-right: 30px;
      padding-left: 10px;
      right: 0;
      color: #5c6470;
      cursor: pointer;
      line-height: 65px;
      text-align: center;
      transition: color .25s ease;
      &:hover{
        color: lighten(#5c6470, 10%);
      }
    }
    .search-field {
      display: none;
      position: absolute;
      left: 0;
      top: 65px;
      padding: 15px;
      background-color: lighten($dark, 3%);
      width: 100%;
      border-top: lighten($dark, 5%) 1px solid;
      z-index: 4;
      form#cse-search-box {
        input {
          width: 100%;
          padding: 8px 15px;
          border: lighten($dark, 10%) 1px solid;
          background-color: lighten($dark, 7.5%);
          font-size: 1.6rem;
          color: #fff;
          outline: none;
          &:focus{
            border-color: lighten($dark, 15%);
          }
          &::placeholder{
            color: rgba(#fff, .2);
            font-family: arial, sans-serif;
            font-style: italic;
          }
        }
      }
    }
  }
}