.top-menu {}
.main-menu{
  padding: 0 100px;
  width: 100%;
  text-align: center;
  ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li{
    display: inline-block;
    margin-right: -4px;
    a:hover{
      color: #fff;
      background-color: lighten($dark, 8);
    }
    a{
      color: #d1d9e0;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: bold;
      padding: 0 15px;
      line-height: 65px;
      display: block;
      transition: color .25s ease, background .25s ease;
    }
  }
  .active {
    a {
      color: #fff;
      background-color: lighten($dark, 5);
    }
  }
}
.mobile-menu-button{
  color: #fff;
  text-align: center;
  cursor: pointer;
  line-height: 65px;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  display: none;
  &:hover{
    color: $accent;
  }
}
.mobile-menu{
  display: none;
  background-color: lighten($dark, 3%);
  border-top: lighten($dark, 3%) 1px solid;
  .top-menu{
    display: block;
  }
  li{
    display: block;
    a{
      padding: 0;
      line-height: 45px;
    }
  }
}
