//lx
@media (min-width: 1200px) {}
// lg
@media (max-width: 1199px) {}
// md
@media (max-width: 992px) {
  .main-menu{
    display: none;
    padding: 20px;
  }
  .mobile-menu-button{
    display: block;
  }
  .item-title-content{
    padding: 40px 30px;
  }
  .second-section, .third-section{
    padding: $gutter/2 0;
  }
  .third-section{
    padding: $gutter 0 30px;
    > div >div > div:last-of-type{
      .col-item{
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
  .page{
    .top-menu{
      top: 65px;
      position: relative;
    }
  }
}
// sm
@media (max-width: 768px) {
  .first-section{
    padding-top: $gutter/2;
    padding-bottom: $gutter/2;
  }
  .container-fluid{
    padding: 0 $gutter/2;
  }
  .top__ad{
    padding-bottom: $gutter/2;
  }
  .no-gutters{
    .pattern{
      margin-bottom: $gutter/2;
    }
  }
  .item-news{
    margin: $gutter/2 0 0;
  }
  .col-item{
    margin-bottom:$gutter/2;
    padding-bottom: $gutter;
    border-bottom: 1px solid rgba(#fff, .05);
    &-meta, h4{
      padding: 0 $gutter;
    }
    a{
      img{
        margin-bottom: $gutter/2;
      }
    }
    .col-item-meta{
      margin-bottom: 5px;
    }
  }
  .type-one{
    .pattern{
      margin-bottom: $gutter/2;
    }
  }
  nav.soc{
    padding: 10px 0 0;
    li{
      a{
        width: 40px;
        height: 40px;
        font-size: 1.8rem;
        line-height: 38px;
      }
    }
  }
  .cat-header{
    &-block{
      padding: 50px;
      h1, h2{
        font-size: 2.8rem;
      }
    }
  }
  .page-header{
    &-meta{
      h1{
        font-size: 2.4rem;
        margin: 10px 0;
      }
    }
    &.overlay::before{
      background-image: linear-gradient(rgba(#000, .3), rgba(#000, .75));
    }
  }

}
// xs
@media (max-width: 576px) {
  .fourth-section{
    padding: $gutter/1.5 0;
  }
  .all-posts-header{
    margin-top: $gutter/2;
  }
}
// xs
@media (max-width: 420px) {
  .logo{
    font-size: 1.9rem;
    padding-left: 15px;
  }
  .search-wrap{
    search{
      padding-right: $gutter/2;
    }
  }
  .cat-list{
    padding-top: 0;
  }
  .cat-list-item:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 320px) {}