.error{
  border: 2px solid #ff4019 !important;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}
.bth{
  background: transparent;
  border: none;
  cursor: pointer;
}
.is-hidden{
  display: none !important;
}
.site-container{
  overflow: hidden;
}
